<div class="clock-styled">
  <span class="clock-date">Tue May 12</span>
  <span class="clock-time">02:15:17 AM</span>
</div>

<style>
  .clock-styled {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-variant-numeric: tabular-nums;
    font-weight: 300;
    cursor: default;
  }
</style>

<script>
  const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];
  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

  const clockDate = document.querySelector('.clock-date');
  const clockTime = document.querySelector('.clock-time');

  setInterval(() => {
    const currentDateTime = new Date();

    // Date setting
    const dayOfWeek = daysOfWeek[currentDateTime.getDay()];
    const month = months[currentDateTime.getMonth()];
    const dayOfMonth = currentDateTime.getDate();
    const currentDate = `${dayOfWeek} ${month} ${dayOfMonth}`;

    if (clockDate) clockDate.textContent = currentDate;

    // Time Setting
    const meridiem = currentDateTime.getHours() >= 12 ? 'PM' : 'AM';
    if (clockTime) clockTime.textContent = `${currentDateTime.toLocaleTimeString()} ${meridiem}`;
  }, 1000);
</script>